*~
.classpath
.project
.settings
classes/
/as-mockodore-developer/.i-cached/
/as-mockodore-developer/with/bash/iwant/list-of/
/as-mockodore-developer/with/bash/iwant/side-effect/
/as-mockodore-developer/with/bash/iwant/target/
